nav {
  box-shadow: none;
  background-color: transparent;

  i.material-icons {
    line-height: initial;
  }
}

.input-field > label {
  left: 0;
}

.error-text {
  color: $error-color !important;
}
