
$secondary-color: #742f8a !default;
$input-success-color: $secondary-color !default;

$default-background: #fff;
$top-bar-font-color: rgba(255, 255, 255, .54);
$top-bar-icon-color: rgba(255, 255, 255, .38);
$top-bar-hover-color: #FFFFFF;
$primary-button-text-color: #FFD700;
$secondary-text: rgba(0, 0, 0, 0.6);

$font-stack: (Segoe UI, Helvetica Neue, Arial, sans-serif);
$secondary-font-stack: (Segoe UI Semibold, Helvetica Neue, Arial, sans-serif);


$primary-space: 12px;

$resource-width: 884px;

$res-small: 576px;
$res-medium: 768px;
$res-large: 992px;
$res-xlarge: 1200px;

@mixin transition-for($el) {
  transition: $el 0.2s ease-in-out;
}

@mixin icon-size($size, $important: "") {
  width: $size * 1px#{ $important};
  height: $size * 1px#{ $important};
  font-size: $size * 1px#{ $important};
}

@mixin var($property, $varName, $important:"") {
  #{$property}: var(--#{$varName}, map-get($colors, $varName)) #{ $important};

  .internet-explorer & {
    #{$property}: map-get($colors, $varName)#{ $important};
  }
  
}
