* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body, html {
  height: 100%;
  min-height: 100%;
  width: 100%;
  font-family: $font-stack;
  line-height: normal;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $secondary-color;
  background-color: $default-background;
}

button, input, optgroup, select, textarea {
  line-height: normal;
}

.button-link, button, .action {
  font-family: $secondary-font-stack;
  font-size: 14px !important;
  text-transform: uppercase;
  @include transition-for(background);
  position: relative;
}

.app-logo {
  height: 75px;
  display: inline-block;
  margin-top: 15px;
  max-width: 100%;
}

.flex-column-stretch {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: stretch flex-start;
  align-items: stretch;
  max-width: 100%;
}


#app {
  height: 100%;
}
